@font-face {
	font-family:'Myriad Pro';
	font-style: normal;
	font-weight:200;
	src:url("/resources/global/fonts/myriad/myriad-set-pro_text.eot?") format("eot"), url("/resources/global/fonts/myriad/myriad-set-pro_thin.woff") format("woff"), url("/resources/global/fonts/myriad/myriad-set-pro_thin.ttf") format("truefonts");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Pro';
	font-style: normal;
	font-weight:400;
	src:url("/resources/global/fonts/myriad/myriad-set-pro_text.eot?") format("eot"), url("/resources/global/fonts/myriad/myriad-set-pro_text.woff") format("woff"), url("/resources/global/fonts/myriad/myriad-set-pro_text.ttf") format("truefonts");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
	font-family:'Myriad Pro';
	font-style: normal;
	font-weight:600;
	src:url("/resources/global/fonts/myriad/myriad-set-pro_text.eot?") format("eot"), url("/resources/global/fonts/myriad/myriad-set-pro_semibold.woff") format("woff"), url("/resources/global/fonts/myriad/myriad-set-pro_semibold.ttf") format("truefonts");
	/* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}
