.title h1 {
    text-align: center;
    padding: 35px 0;
}
.title {
    margin-bottom: 35px;
    text-align: center;
}

.title.error h1 {
	font-size: 240px;
}
.title.error p {
	font-size: 22px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	color: #fff;
	background-color: #000 !important;
	letter-spacing: .2em;
}