/*
Theme Name: Brooklyn
Theme URI: http://www.unitedthemes.com
Description: Creative Portfolio
Version: 2.4.4
Author: UnitedThemes
Author URI: http://www.unitedthemes.com
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: custom-header, full-width-template, theme-options, translation-ready
*/

/* #Reset
================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
 border: 0;
 font-family: inherit;
 font-size: 100%;
 font-style: inherit;
 font-weight: inherit;
 margin: 0;
 outline: 0;
 padding: 0;
 vertical-align: baseline;
}
html {
	font-size: 100%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	line-height:1;
}
article, aside, details, figcaption, figure, footer, header, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: 0;
}
a:hover, a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}
/* #General
================================================== */

* {
	margin:0;
	padding:0;
}
*, *:after, *::before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html {
	height:100% !important;
	min-height:100% !important;
}
body {
	margin:0;
	padding:0;
	height:100%;
	min-height:100%;
	width:100%;
	background: #FFFFFF;
	font: 14px/22px "ralewayregular", Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #888888;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	letter-spacing:0.5px;
}
.wrap {
	position:relative;
    z-index:inherit;
}
::-moz-selection {
color: #FFFFFF;
}
::selection {
	color: #FFFFFF;
}
/* #Typography & HTML Standard Tags
================================================== */

h1, h2, h3, h4, h5, h6 {
	color: #222222;
	line-height:150%;
	font-weight: normal;
	margin-top:0;
}
h1 {
	font-size:30px;
	margin-bottom:5px;
}
h2 {
	font-size:22px;
	margin-bottom:10px;
}
h3 {
	font-size:17px;
	margin-bottom:15px;
}
h4 {
	font-size:15px;
	margin-bottom:12px;
}
h5 {
	font-size:14px;
	margin-bottom:5px;
}
h6 {
	font-size:12px;
	margin-bottom:5px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:#222222;
}
p img {
	margin: 0;
}
.children, .entry-content ol ol, .entry-content ol ul, .entry-content ul ul, .entry-content ul ol, .comment-content ol ol, .comment-content ol ul, .comment-content ul ul, .comment-content ul ol {
	margin-bottom: 0;
}
.comment-content ul, .entry-content ul {
	list-style-type: disc;
}
.comment-content ol, .entry-content ol {
	list-style-type: decimal;
}
ul, ol, dl {
	margin-left: 30px;
}
table {
	border: 1px solid #EFEFEF;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 20px 0;
	text-align: left;
	padding: 0 5px;
	width:100%;
}
table .even {
	background: #DDDDDD;
}
tr {
	border-bottom: 1px solid #EFEFEF;
}
th {
	font-weight:bold;
}
th, td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}
caption {
	text-align: left;
}
var, kbd, samp, code, pre {
	font: 12px/18px Consolas, "Andale Mono", Courier, "Courier New", monospace;
	background: #F1F1F1;
}
b, strong, dfn, kbd {
	font-weight: bold;
	color:#222222;
}
dfn, cite, em, i, address, q, samp, var {
	font-style: italic;
}
address {
	color:#222222;
}
q {
	color:#222222;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}
blockquote {
	color:#222222;
	position:relative;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
	font-size:20px;
	line-height:150%;
	padding-left:10px;
	border-left:2px solid;
	text-transform:uppercase;
	letter-spacing:0.5px;
}
blockquote cite {
	font-size:11px;
	font-style:normal;
	display:block;
}
.format-quote blockquote {
	margin-left: 0;
	margin-right: 0;
	font-size:26px;
	line-height:150%;
}
pre {
	white-space: pre;
	overflow: auto;
	padding: 20px;
	clear: both;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
var, kbd, code {
	padding: 3px;
}
abbr[title], acronym[title], dfn[title] {
	cursor: help;
	border-bottom: 1px dotted #666666;
}
del {
	text-decoration: line-through;
}
ins {
	text-decoration: underline;
}
mark, ins {
	text-decoration: none;
	padding:3px;
	color:#FFFFFF;
}
sup {
	font-size: 11px;
	vertical-align: top;
}
sub {
	font-size: 11px;
	vertical-align: bottom;
}
small {
	font-size: 11px;
}
big {
	font-size: 200%;
}
figure {
	margin: 0;
}
p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
	margin-bottom: 20px;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
/* Removing the dotted outline */

object, embed {
	outline: 0;
}
button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}

/* #Links
================================================== */

a {
	text-decoration: none;
	outline: 0;
	-webkit-transition:0.2s color linear;
	-moz-transition:0.2s color linear;
	transition:0.2s color linear;
	cursor:pointer;
}
a:hover {
	color: #222222;
	cursor:pointer;
}
a img {
	border: none;
	vertical-align: bottom;
}
/* #Images & Media
================================================== */

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	width: auto\9; /* ie8 */
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align:bottom;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
i.alignleft, img.alignleft {
	margin: 5px 20px 5px 0;
}
i.alignright, img.alignright {
	margin: 5px 0 5px 20px;
}
.alignright.ut-custom-icon {
	margin:0 0 0 10px;
}
.alignleft.ut-custom-icon {
	margin:0 10px 0 0;
}
img.aligncenter {
	margin: 5px auto;
}
img.alignnone {
	margin: 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 5px 0;
}
.wp-caption.alignright {
	margin: 5px 0 5px 20px;
}
.wp-caption.alignnone {
	margin: 5px 0 20px 0;
}
img.wp-smiley, .rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption.alignleft + ul, .wp-caption.alignleft + ol {
	list-style-position: inside;
}
/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
	width: 100% !important;
	margin:0 0 20px !important;
}
/* =Media
----------------------------------------------- */

.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	vertical-align:middle;
}
.wp-caption {
	position:relative;
	height:auto !important;
	overflow:hidden;
	max-width: 100%;
	padding:0;
	text-align:left;
	margin-bottom:20px;
}
.gallery-item a img, .wp-caption a img {
	-webkit-box-shadow:0 0 0 #222222;
	-moz-box-shadow:0 0 0 #222222;
	box-shadow:0 0 0 #222222;
}
.gallery-item {
	margin-left:0 !important;
}
.gallery-item a img:hover, .wp-caption a img:hover {
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}
.wp-caption img, img[class*="wp-image-"] {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	max-width: 100%;
}
.wp-caption .wp-caption-text {
	margin:0;
	padding:5px;
}
.wp-caption-text {
	background: #222222;
	bottom: -50px;
	left: 0;
	margin: 0 !important;
	opacity: 0;
	padding: 1em 0;
	position: absolute;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	-moz-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	width: auto;
	color:#FFFFFF;
	font-size:11px;
	-webkit-border-radius:0 0 0 3px;
	-moz-border-radius:0 0 0 3px;
	border-radius:0 0 0 3px;
}
.wp-caption:hover .wp-caption-text {
	bottom:0;
	opacity:0.8;
}
.gallery-caption {
	position:inherit !important;
	-webkit-transition:inherit !important;
	-moz-transition:inherit !important;
	transition:inherit !important;
	opacity:1 !important;
	background:none !important;
	color:#999999;
}
.site-content .gallery {
	margin-bottom: 20px;
}
.gallery-caption {
}
.gallery img {
	border:none !important;
}
.gallery-item {
	margin-top:0 !important;
	overflow:hidden;
}
.site-content .gallery a img {
	border: none;
	height: auto;
	width: 100%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
	max-width: 100%;
	height: auto;
}
embed, iframe, object {
	max-width: 100%;
}
.ut-video {
	margin-bottom:20px;
}
/* #Header Section
================================================== */

#header-section {
	line-height:80px;
}
.ha-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	width:100%;
	padding: 0;
	z-index: 2500;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.95);
	-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
}
.ha-header.ha-transparent {
	background:transparent;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.ha-header.ha-transparent:hover {
	background:rgb(18,18,18);
	background:rgba(18,18,18,0.5);
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	transition: background 0.5s;
}
.ha-header.ut-header-dark {
	background:rgb(18,18,18);
	background:rgba(18,18,18,0.95);
}
.ha-header-perspective {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	perspective: 1100px;
	-webkit-perspective-origin: 50% 0;
	-moz-perspective-origin: 50% 0;
	perspective-origin: 50% 0;
}
.ha-header-perspective > div {
	position: relative;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;/*overflow: hidden; */
}
.ha-header-front {
	z-index: 2;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.ha-header-small {
	height: 80px;
}
.ha-header-hide {
	height: 80px;
	overflow:hidden;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
.ha-header-show {
	height: 80px;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}
.site-logo {
	text-align:left;
	margin:0;
	height:80px;
	color:#222222;
	text-transform:uppercase;
	line-height:80px;
	position:relative;
}
.ha-header.ha-transparent .site-logo .logo a,
.ut-header-dark .site-logo .logo a {
	color:#FFFFFF;
}
.site-logo .logo {
	font-size:20px;
	margin:0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	display:block;
	position:absolute;
	top:50%;
	margin-top:-12px;
	left:0;
}
.site-logo img {
	max-height:60px;
	vertical-align:middle;
}
.page-header, .parallax-header, .section-header {
	text-align:center;
	padding-bottom:30px;
	position:relative;
}
.page-title, .parallax-title, .section-title {
	font-size:30px;
	margin-bottom:20px;
	position:relative;
}
.pt-style-1 .parallax-title {
	background-attachment: scroll;
	background-image: url('images/divider.png');
	background-repeat: repeat-x;
	background-position: top center;
	padding-top:20px;
	display:inline-block;
}
.pt-style-1 .page-title, .pt-style-1 .section-title {
	background-attachment: scroll;
	background-image: url('images/divider.png');
	background-repeat: repeat-x;
	background-position: center center;
}
.pt-style-1 .page-title span, .pt-style-1 .section-title span {
	background:#FFFFFF;
	padding:0 20px;
}
.pt-style-2 .page-title:after, .pt-style-2 .parallax-title:after, .pt-style-2 .section-title:after {
	content: "";
	display: block;
	background-color: #222222;
	width: 30px;
	height: 1px;
	margin: 15px auto 0;
}
.light .pt-style-2 .page-title:after, .light .pt-style-2 .parallax-title:after, .light .pt-style-2 .section-title:after {
	content: "";
	display: block;
	background-color: #FFFFFF;
	width: 30px;
	height: 1px;
	margin: 15px auto 0;
}
.pt-style-3 .page-title, .pt-style-3 .parallax-title, .pt-style-3 .section-title {
	margin-bottom:25px;
}
.pt-style-3 .page-title span, .pt-style-3 .parallax-title span, .pt-style-3 .section-title span {
	color:#FFFFFF;
	padding:5px 10px;
	border: 3px solid #FFFFFF;
	display:inline-block;
}
.pt-style-4 .page-title span, .pt-style-4 .parallax-title span, .pt-style-4 .section-title span {
	display:inline-block;
	border:3px solid #222222;
	padding:4px 8px;
}
.light .pt-style-4 .parallax-title span, .light .pt-style-4 .section-title span {
	display:inline-block;
	border:3px solid #FFFFFF;
	padding:4px 8px;
}
.pt-style-5 .page-title, .pt-style-5 .parallax-title, .pt-style-5 .section-title {
	margin-bottom:25px;
}
.pt-style-5 .page-title span, .pt-style-5 .section-title span {
	color:#FFFFFF;
	padding:5px 10px;
	border: 3px solid #FFFFFF;
	display:inline-block;
	background:#222222;
	-webkit-box-shadow:0 0 0 3px #222222;
	-moz-box-shadow:0 0 0 3px #222222;
	box-shadow:0 0 0 3px #222222;
}
.pt-style-5 .parallax-title span {
	color:#222222;
	padding:5px 10px;
	border: 3px solid #222222;
	display:inline-block;
	background:#FFFFFF;
	-webkit-box-shadow:0 0 0 3px #FFFFFF;
	-moz-box-shadow:0 0 0 3px #FFFFFF;
	box-shadow:0 0 0 3px #FFFFFF;
}
.pt-style-6 .page-title:after, .pt-style-6 .parallax-title:after, .pt-style-6 .section-title:after {
	content: "";
	display: block;
	border-bottom:1px dotted #222222;
	width: 30px;
	height: 1px;
	margin: 15px auto 0;
}
.light .pt-style-6 .page-title:after, .light .pt-style-6 .parallax-title:after, .light .pt-style-6 .section-title:after {
	content: "";
	display: block;
	border-bottom:1px dotted #FFFFFF;
	width: 30px;
	height: 1px;
	margin: 15px auto 0;
}
.page-title span span, .page-title .vcard {
	padding:0 !important;
}
.page-title .vcard a:hover {
	color:#222222;
}
p.lead, .taxonomy-description {
	font-size:18px;
	line-height:150%;
}

/* #Hero Section
================================================== */

.home section {
	overflow:hidden;
}
.ut-offset-anchor {
	width:0px;
	height:0px;
	position:relative;
	display:block;
	overflow:hidden;
	visibility:hidden;
	top: -79px; /* must be the same pixel value as for header height */
}

/* Hero Slider */

.ut-hero-slider {
	border:none !important;
	height:100%;
	position:relative;
}
.hero.slider {
	background:#FFFFFF;
}
.hero.slider .parallax-overlay {
	z-index:3;
	display:none;
}
.ut-hero-slider .flex-viewport {
	width:100%;
	height:100%;
}
.ut-hero-slider .slides {
	height: 100%;
	position: relative;
	width: 100%;
}
.ut-hero-slider .slides li {
	background-position: center center !important;
	-webkit-background-size:cover !important;
	-moz-background-size:cover !important;
	background-size: cover !important;
	height: 100%;
	position: relative;
}
.ut-hero-captions {
	position:absolute !important;
	width: 100%;
	z-index:10;
	background: none;
	border: none;
	top: 0;
}
a.ut-flex-control  { 
	display: block; 
	width: 60px; 
	height: 60px; 
	margin: 0; 
	position: absolute;
	top:50%; 
	z-index: 11;
	margin-top:-30px;
	overflow: hidden; 
	opacity: 1; 
	cursor: pointer; 
	color:#ffffff; 
	-webkit-transition: all .3s ease; 
	-moz-transition: all .3s ease; 
	transition: all .3s ease; 
	text-align:center;
}
a.ut-flex-control:before  { font-family: 'FontAwesome'; font-size: 40px; line-height:60px; display: inline-block; content: '\f104'; }
a.ut-flex-control.next:before  { content: '\f105'; }

a.ut-flex-control.prev { left:0; -webkit-border-radius:0 3px 3px 0; -moz-border-radius:0 3px 3px 0; border-radius:0 3px 3px 0; }
a.ut-flex-control.next { right:0; -webkit-border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px; }

a.ut-flex-control.prev:hover { background:rgba(255, 255, 255, 0.15); color:#FFFFFF; }
a.ut-flex-control.next:hover { background:rgba(255, 255, 255, 0.15); color:#FFFFFF; }

/* font style for hero slider */
.hero.slider .hero-title.extralight {
	font-family: 'ralewayextralight', "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.hero.slider .hero-title.light {
	font-family: 'ralewaylight', "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.hero.slider .hero-title.regular {
	font-family: 'ralewayregular', "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.hero.slider .hero-title.medium {
	font-family: 'ralewaymedium', "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.hero.slider .hero-title.semibold {
	font-family: 'ralewaysemibold', "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.hero.slider .hero-title.bold {
	font-family: 'ralewaybold', "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

/* Hero Unit */

.hero {
	height:100%;
	min-height:100%;
	position:relative;
	overflow:hidden;
	text-align:center;
}
.hero .grid-container {
	height:100%;
	min-height:100%;
	position:relative;
}
.hero .hero-holder {
	display:table;
	position:relative;
	position:relative;
	width:100%;
	height:100%;
}
.hero-inner {
	display:block;
	display:table-cell;
	vertical-align:middle;
	position:relative;
	width:100%;
}
.hero-inner a {
	color:#FFFFFF;
	text-decoration:underline;
}
.hero-inner a:hover {
	color:#FFFFFF;
	text-decoration:none;
}
.hero-inner h1 {
	font-size:70px;
	line-height:125%;
	margin-bottom:15px;
}
.hero-inner p {
	font-size:20px;
	line-height:150%;
}
.hdh, .hth {
	display:block;
	margin:0 auto;
	width:100%;
}
.hero-title {
	margin-bottom:0;
	text-transform:uppercase;
	color:#FFFFFF;
	display:inline-block;
	font-size:70px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.hero-title span {
	font-weight:normal;
}
.hero-description {
	color:#FFFFFF;
	letter-spacing:0.5px;
	font-size:12px;
	margin:0 auto;
	text-transform:uppercase;
	display:inline-block;
}
.ut-hero-style-1 .hero-title {
	background-attachment: scroll;
	background-image: url('images/divider.png');
	background-repeat: repeat-x;
	background-position: top center;
	padding-top:14px;
}
.ut-hero-style-1 .hero-description {
	padding-bottom:5px;
}
.ut-hero-style-3 .hero-description {
	border-bottom:3px solid rgb(255, 255, 255);
	border-bottom:3px solid rgba(255, 255, 255, 0.15);
	padding-bottom:4px;
	margin-bottom:5px;
}
.ut-hero-style-4 .hero-title {
	background:#FFFFFF;
	padding:8px 12px;
	color:#222222;
	border:3px solid #222222;
	 -webkit-box-shadow::0 0 0 3px #FFFFFF;
 	-moz-box-shadow::0 0 0 3px #FFFFFF;
	box-shadow:0 0 0 3px #FFFFFF;
}
.ut-hero-style-5 .hero-title {
	font-size:120px;
}
.ut-hero-style-5 .hero-description {
	font-size:17px;
	border-bottom:3px solid;
	padding-bottom:10px;
}
.ut-hero-style-6 .hero-title {
	padding:30px;
	border:1px solid rgb(255, 255, 255);
	border:1px solid rgba(255, 255, 255, 0.15);
}
.ut-hero-style-4 .hero-description,
.ut-hero-style-6 .hero-description,
.ut-hero-style-7 .hero-description,
.ut-hero-style-8 .hero-description {
	margin-bottom:10px;
}
.ut-hero-style-7 .hero-title {
	padding:8px 12px;
	border:3px solid rgb(255, 255, 255);
}
.ut-hero-style-8 .hero-title {
	border-top:2px solid rgb(255, 255, 255);
	border-bottom:2px solid rgb(255, 255, 255);
	padding:10px 0;
}
.ut-hero-style-9 .hero-title {
	border-right:3px solid rgb(255, 255, 255);
	border-left:3px solid rgb(255, 255, 255);
	padding:0 20px;
	margin-top:0;
}
.ut-hero-style-10 .hero-title {
	border-right:3px dashed rgb(255, 255, 255);
	border-left:3px dashed rgb(255, 255, 255);
	padding:0 20px;
	margin-top:0;
}
.hero-btn-holder {
	display:block;
	margin-top:5px;
}
.hero-btn {
	background:transparent;
	color:#FFFFFF;
	border:1px solid rgb(255, 255, 255);
	border:1px solid rgba(255, 255, 255, 0.15);
	padding:8px 12px;
	font-size:11px;
	cursor:pointer;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:center;
	display:inline-block;
	-webkit-transition:0.2s background linear;
	-moz-transition:0.2s background linear;
	transition:0.2s background linear;
	font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
	text-decoration:none !important;
}
.hero-btn:hover {
	color:#FFFFFF;
	background:rgba(255, 255, 255, 0.15);
}
.ut-hero-style-5 .hero-btn {
	border:1px solid rgb(255, 255, 255);
	border:1px solid rgba(255, 255, 255, 0.15);
}
.ut-hero-style-4 .hero-btn-holder, .ut-hero-style-6 .hero-btn-holder, .ut-hero-style-7 .hero-btn-holder, .ut-hero-style-8 .hero-btn-holder {
	margin-top:20px;
}
.ut-hero-style-4 .hero-btn, .ut-hero-style-7 .hero-btn, .ut-hero-style-9 .hero-btn, .ut-hero-style-8 .hero-btn {
	border:1px solid rgb(255, 255, 255);
}
.ut-hero-style-10 .hero-btn {
	border:1px dashed rgb(255, 255, 255);
}

/* UT Slider Tablet */
.ut-tablet-holder {
	height: 100%;
	width: 100%;
	display: table;
}
.ut-tablet-inner {
    display:table-cell;
    position: relative;
    vertical-align: bottom;
    width: 100%;
	text-align:left;
	color:#FFFFFF;
}
.ut-tablet-title {
	color:#FFFFFF;
	margin-bottom:30px;
}
.ut-right-tablet-button {
	margin-right:0;
}
ul.ut-tablet-nav {
	margin:0 0 40px 0;
	padding:0;
}
ul.ut-tablet-nav a {
	color:#FFFFFF;
}
ul.ut-tablet-nav li {
	position:relative;
	padding:0 0 0 15px;
	margin:0;
}
ul.ut-tablet-nav li:before {
    content: "\f096";
    font-family: "FontAwesome";
    font-size: 12px;
	top: 0;
    left: 0;
    position: absolute;
}
ul.ut-tablet-nav li.selected:before {
    content: "\f046";
    font-family: "FontAwesome";
    font-size: 12px;
	top: 0;
    left: 0;
    position: absolute;
}
.ut-tablet-headline {

}
ul.ut-tablet {
	margin:0;
	padding:0;
	background: #444444;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 1px 1px 1px #000000 inset,  
				0 0 0 0 #666666, 0 0 0 0 rgba(0, 0, 0, 0.2);
	border-top:25px solid #141414;	
	border-right:25px solid #141414;		
	border-left:25px solid #141414;
	overflow:hidden;
}
ul.ut-tablet li {
	display:none;
	position:relative;
	padding:2px 2px 0;
	margin:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
ul.ut-tablet li img {
	width:100%;
	margin:0;
	padding:0;
}
ul.ut-tablet li.show {
	display:block;
}
.ut-tablet-single-title {
	color:#FFFFFF;
}
.ut-tablet-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgb(0, 0, 0);
	background:rgba(0, 0, 0, 0.9);
	opacity:0;
	-webkit-transition:0.2s linear;
	-moz-transition:0.2s linear;
	transition:0.2s linear;
	padding:120px 50px 50px;
	text-align:center;
	color:#FFFFFF !important;
	overflow:hidden;
}
.ut-tablet .show:hover .ut-tablet-overlay {
	opacity:1;
}
.ut-tablet-overlay-content {
	height:100%;
}
.ut-tablet-overlay .ut-btn {
	font-weight:bold;
}

/* #Navigation
================================================== */

#navigation {
	font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
	float:right;
}
#navigation ul {
	position: relative;
	float:right;
}
#navigation ul li {
	position:relative;
	display:block;
	float:left;
}
#navigation ul li a {
	white-space:nowrap;
	padding-left:25px;
	color: #555555;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size:11px;
	position:relative;
	text-decoration: none;
	display:block;
}
.ha-transparent #navigation ul li a {
	color:#FFFFFF;
}
.ut-header-dark #navigation ul li a {
	color: #999999;
}
.ha-transparent #navigation ul li a:after {
	content:'•';
	position:absolute;
	top:0;
	color:#FFFFFF;
	left:9px;
}
#navigation ul li a:after {
	content:'•';
	position:absolute;
	top:0;
	color:#222222;
	left:9px;
}
.ut-header-dark #navigation ul li a:after {
	content:'•';
	position:absolute;
	top:0;
	color:#999999;
	left:9px;
}
#navigation ul li:first-child a:after {
	display: none;
}

/* Nav Sublevel  */

#navigation ul.sub-menu {
	margin-left:25px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	transition:0.2s all linear;
}
#navigation ul.sub-menu ul, #navigation ul.sub-menu li {
	margin-left:0;
}
#navigation ul.sub-menu li a:after {
	display: none;
}
#navigation ul.sub-menu li > a {
	height: 32px;
	line-height: 32px;
	min-width: 165px;
	position: static;
	color:#999999;
	background:rgb(18,18,18);
	background:rgba(18,18,18,0.95);
	margin:0;
	padding:0 15px;
	-webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	transition:0.2s all linear;
	font-size:10px !important;
}
#navigation ul.sub-menu {
	border-top:2px solid;
}
#navigation ul.sub-menu li a:hover {
	background:#121212;
}
#navigation ul li ul li ul li {
	display:block;
}
#navigation ul li ul li ul li {
	display:block;
}

/* Responsive Menu */

.ut-mm-trigger {
	cursor:pointer;
	text-align:right;
	position:relative;
	line-height:80px;
	height:80px;
}
.ut-mm-button {
	border:none;
	height:50px;
	cursor:pointer;
	margin:15px 0;
	padding:0;
	background:transparent;
}
.ut-mm-button:before {
	content: "\f0ca";
	font-family:'FontAwesome';
	font-size:35px;
	text-align:center;
	background:transparent;
	color:#CCCCCC;
	-webkit-transition:.2s color linear;
	-moz-transition:.2s color linear;
	transition:.2s color linear;
}
.ut-mm-button:hover,
.ut-mm-button:focus,
.ut-mm-button.active {
	background:transparent;
	outline: none !important;
}
#ut-mobile-nav {
	margin:0;
}
.ut-mobile-menu {
	line-height: 150%;
	margin: 0;
}
#ut-mobile-menu {
	margin:30px 0;
	padding:0;
	border-top:1px solid #EFEFEF;
	text-align:left;
	font-size:14px;
	text-transform:uppercase;
}
.ut-mobile-menu .sub-menu {
	margin:0;
}
.ha-transparent .ut-mobile-menu a,
.ut-header-dark .ut-mobile-menu a,
.ut-mobile-menu a {
	color:#555555;
	padding:10px 0;
	border-bottom:1px solid #EFEFEF;
	display:block;
	padding-left:30px;
	position:relative;
	-webkit-transition:none;
	-moz-transition:none;
	transition:none;
}
.ut-header-light #ut-mobile-nav {
	background:#FFFFFF;
}
.ha-transparent #ut-mobile-nav,
.ut-header-dark #ut-mobile-nav {
	background:#121212;
}
.ha-transparent #ut-mobile-menu,
.ha-transparent #ut-mobile-menu a,
.ut-header-dark #ut-mobile-menu,
.ut-header-dark .ut-mobile-menu a {
	border-color:#222222;
}
.ut-mobile-menu a:after {
	content:'•';
	position:absolute;
	top:10px;
	left:15px;
}
.ut-mobile-menu a:hover:after,
.ut-mobile-menu a:hover {
	color:#FFFFFF;
}
.ut-mobile-menu li {
	padding:0;
	margin:0;
}


/* #Team Section
================================================== */

.member-wrap {
	margin-left:-10px !important;
	margin-right:-10px !important;
}
.member-box {
	margin-bottom:0;
	position:relative;
	overflow:hidden;
}
.ut-hide-member-details {
	color:#222222;
	font-size:24px;
	float:right;
}
.light .ut-hide-member-details:hover {
	color:#FFFFFF;
}
.light .ut-overlay {
	background:#111111;
}
.ut-overlay {
	background:#FFFFFF;
}
.mp-holder {
	margin: 0 auto 20px auto;
	position:relative;
	z-index:1;
}
.mp-holder .member-photo {
	margin: 0;
	position: relative;
}
.mp-holder .member-photo img {
	width: 100%;
	display: block;
	position: relative;
	-webkit-box-shadow:0 0 0 #000000;
	-moz-box-shadow:0 0 0 #000000;
	box-shadow:0 0 0 #000000;
}
.mp-holder .member-description {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #222222;
	background:rgba(0, 0, 0, 0.7);
	color: #FFFFFF;
}
.mp-holder .member-description h3 {
	margin:0;
	padding:0;
	color: #FFFFFF;
	text-transform:uppercase;
}
.mp-holder .member-description .ut-member-details i {
	padding-left:5px;
}
.mp-holder .member-description .ut-member-details {
	display: inline-block;
	font-size:11px;
	text-transform:uppercase;
}
.mp-holder .member-description a:hover {
	color:#FFFFFF;
}
.mp-holder .member-description span {
	font-size:11px;
	text-transform:uppercase;
}
.mp-holder .member-photo {
	overflow: hidden;
}
.mp-holder .member-photo img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .mp-holder .member-photo:hover img, .mp-holder .member-photo.cs-hover img {
	-webkit-transform: translateY(-0px);
	-moz-transform: translateY(-0px);
	-ms-transform: translateY(-0px);
	transform: translateY(-0px);
}
.mp-holder .member-description {
	height: 100%;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .mp-holder .member-photo:hover .member-description, .mp-holder .member-photo.cs-hover .member-description {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.mp-holder .member-description .ut-member-details {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.ut-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 998;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translate3d(0, 0, 0);
}
.ut-modal-box {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 100%;
	z-index: 999;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity:0;
}
.ut-overlay-show {
	visibility: visible;
	opacity: 1;
}
.ut-box-show {
	visibility: visible;
}
.ut-modal-box-effect .member-detail-box {
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.ut-box-show.ut-modal-box-effect .member-detail-box {
	opacity: 1;
}
.member-detail-box {
}
.ut-member-name {
	margin-bottom:0;
	color:#222222;
	font-size:17px;
}
.ut-member-title {
	display:block;
	font-size:11px;
	letter-spacing:0.5px;
	line-height:150%;
	text-transform:uppercase;
	margin-top:5px;
	margin-bottom:20px;
}
.team-bio .member-box {
	text-align:center;
}
.team-bio .member-box h3 {
	margin-top:0;
}
.team-bio .member-photo {
	float:none;
	width:100%;
	height:auto;
	border:none;
	margin-right:0;
}
.ut-mfh {
	position:relative;
}
.member-photo-large {
	margin-bottom:20px;
}
.team-bio .member-photo img {
	border:4px solid #F1F4F5;
}
.bio-desc h3 {
	color:#222222;
}
.member-social {
	margin:0;
	position:absolute;
	bottom:20px;
	left:30px;
}
.member-social a {
	text-align:center;
	display:inline-block;
	line-height:40px;
	color:#FFFFFF;
	margin-right:10px;
	-webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	transition:0.2s all linear;
}
.member-social a:hover {
	color:#FFFFFF;
}

/* Style 2 */ 

.no-touch .ut-member-style-2 .mp-holder .member-photo:hover img, 
.ut-member-style-2 .mp-holder .member-photo.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}
.ut-member-style-2 .ut-so-link {
	color:#FFFFFF;
	background:#222222;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	text-align:center;
	display:inline-block;
	width:30px;
	line-height:30px;
	-webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	transition:0.2s all linear;
	margin-right:10px;
}
.ut-member-style-2 .ut-so-link:hover {
	color:#FFFFFF !important;	
}
.ut-member-style-2 .ut-so-link:last-child {
	margin-right:0;
}
.ut-member-style-2 .member-description .ut-member-title .ut-member-name {
	color:#ffffff;
}
.ut-member-style-2 .mp-holder .member-description {
	background:#121212;
	color:#898989;
}

/* Style 3 */

.ut-member-style-3 .mp-holder {
	border-bottom:1px solid #EFEFEF;
}
.light .ut-member-style-3 .mp-holder {
	border-bottom:1px solid #FFFFFF;
}
.member-description-style-3 {
	padding:20px;
	text-align:center;
}
.ut-member-style-3 .member-social {
	position:relative;
	top:0;
	left:0;	
}
.ut-member-style-3 .member-social a {
	color:#DDDDDD;
	border:1px solid #DDDDDD;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	width:40px;
	-webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	transition:0.2s all linear;
}
.light .ut-member-style-3 .member-social a {
	color:#FFFFFF;
	border:1px solid #FFFFFF;
}
.ut-member-style-3 .member-social a:last-child {
	margin-right:0;
}

/* #Parallax
================================================== */

.parallax-section {
	overflow:hidden;
}
.parallax-content {
	color:#FFFFFF;
	position:relative;
}
.normal-background, .parallax-background {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-repeat:repeat-y;
}
.normal-background {
	background-position:center center;
}
.parallax-background.fixed {
	background-attachment: fixed !important;
}
.parallax-overlay-pattern {
	background-image: url('images/overlay-pattern.png');
}
.parallax-overlay {
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-repeat:repeat;
}
/* #Blog
================================================== */

.site-header {
	margin-bottom:70px;
}
#primary {
	padding-top:160px;
	padding-bottom:80px;
}
#primary > .post:last-child {
	border-bottom:0;
	margin-bottom:0;
	padding-bottom:0;
}
.blog #primary {
	padding-top:80px;
}
.search .hentry, .post {
	margin-bottom:50px;
	padding-bottom:30px;
	border-bottom:1px solid #EFEFEF;
}
.single-post .post {
	margin:0;
	padding:0;
	border:none;
}
.entry-title {
	margin:0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	text-transform:uppercase;
	font-size:22px;
}
h1.entry-title {
	font-size:22px;
}
.entry-header {
	margin-bottom:20px;
}
.ut-post-thumbnail {
	margin-bottom:20px;
}
.entry-thumbnail {
	margin:0;
	position:relative;
}
.entry-thumbnail img {
	margin:0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.page-links {
	margin:0 0 20px 0;
	font-size:11px;
	letter-spacing:0.5px;
	text-transform:uppercase;
}
.page-links ul {
	list-style:none;
	margin:0;
	padding:0;
}
.page-links ul li {
	display:inline;
	margin-right:10px;
}
.page-links ul li a {
	font-weight:bold;
}
/* #Blog Posts & Post Formats
================================================== */

.ut-sticky {
	display:none;
}
.sticky .entry-meta .ut-sticky {
	display:block;
}
.entry-meta {
	font-size:11px;
	text-align:right;
	margin-bottom:20px;
	color:#222222;
}
.entry-header .entry-meta {
	text-align:left;
	margin-top:5px;
	margin-bottom:0;
}
.reply-link i, .edit-link i, .tags-links i, .entry-meta i {
	padding-right:5px;
	color:#222222;
}
.entry-meta .author-links, .entry-meta .cat-links, .entry-meta .comments-link, .entry-meta .edit-link {
	color:#222222;
	display:block;
	text-transform:uppercase;
	letter-spacing:0.5px;
}
.entry-header .entry-meta .date-format, .entry-header .entry-meta .author-links, .entry-header .entry-meta .cat-links, .entry-header .entry-meta .comments-link {
	display:inline-block;
	margin-right:10px;
	text-transform:uppercase;
	letter-spacing:0.5px;
}
.tags-links a, .entry-meta a {
	color:#888888;
}
.permalink {
	text-transform:uppercase;
	letter-spacing:0.5px;
}
.tags-links {
	margin-bottom:20px;
	font-size:11px;
	color:#222222;
	display:block;
	text-transform:uppercase;
	letter-spacing:0.5px;
}
.date-format {
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid #EFEFEF;
	font-family:'Helvetica', Arial, Sans-serif !important;
}
.entry-header .date-format {
	margin:0;
	padding:0;
	border:none;
	font-family:inherit;
}
.date-format .day {
	font-size:60px;
	display:block;
	line-height:50px;
	font-weight:bold;
	color:#222222;
}
.date-format .month {
	color:#222222;
	display:block;
	text-transform:uppercase;
	font-size:14px;
}
a.more-link {
	color:#222222;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:0.5px;
}
a.more-link .more-link {
	text-align:right;
	display:block;
	width:auto;
}
.author-link i, a.more-link i {
	-webkit-transition:0.3s all ease;
	-moz-transition:0.3s all ease;
	transition:0.3s all ease;
	padding-left:5px;
}
.author-link:hover i, a.more-link:hover i {
	padding-left:10px;
}
/* About the Author */

.author-info {
	margin-top:30px;
	padding-top:50px;
	margin-bottom:20px;
	border-top:1px solid #EFEFEF;
}
.author-avatar {
	float:left;
	margin-right:20px;
}
.author-avatar img {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.author-bio {
	color:#222222;
}
.the-author {
	display:block;
	font-weight:bold;
}
/* Format chat */

.format-chat p {
	margin:0;
	padding:3px;
}
.format-chat p:nth-child(2n+1) {
	background:#F0F0F0;
}
.format-chat .entry-content {
	margin-bottom:20px;
}
/* Format gallery */ 

.ut-gallery-wrap {
	overflow:hidden;
}
.ut-gallery-slider {
	margin: 0;
	padding: 0;
}
.ut-gallery-slider {
	height:320px;
	background:url("../images/loaders/ajax-loader.gif");
	background-repeat:no-repeat;
	background-position:center center;
}
.ut-gallery-slider.loaded {
	background:none;
}
.ut-gallery-slider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.ut-gallery-slider .slides > li img {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.ut-gallery-slider .slides {
	zoom: 1;
}
.ut-gallery-slider {
	margin: 0 0 20px;
	background: #FFFFFF;
	position: relative;
	zoom: 1;
}
.ut-gallery-slider .flex-direction-nav {
 	*height: 0;
	list-style:none;
}
.ut-gallery-slider .flex-direction-nav a  { 
	display: block; 
	width: 30px; 
	height: 30px; 
	margin: 0; 
	position: absolute;
	bottom:10px; 
	z-index: 10; 
	overflow: hidden; 
	opacity: 1; 
	cursor: pointer; 
	color:#ffffff; 
	-webkit-transition: all .3s ease; 
	-moz-transition: all .3s ease; 
	transition: all .3s ease; 
	text-align:center;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px; 
}
.ut-gallery-slider .flex-direction-nav a:before  { font-family: 'FontAwesome'; font-size: 20px; line-height:30px; display: inline-block; content: '\f104'; }
.ut-gallery-slider .flex-direction-nav a.flex-next:before  { content: '\f105'; }

.ut-gallery-slider .flex-direction-nav .flex-prev { right:45px !important; }
.ut-gallery-slider .flex-direction-nav .flex-next { right:10px; }

.ut-gallery-slider .flex-direction-nav .flex-prev:hover { background:#121212; }
.ut-gallery-slider .flex-direction-nav .flex-next:hover { background:#121212; }

/* Format Audio */

.mejs-container, .mejs-embed, .mejs-embed body {
	background:#222222 !important;
	margin-bottom:20px;
}
.mejs-container .mejs-controls {
	background:none !important;
}
.mejs-controls .mejs-button button:focus {
	outline:none !important;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background:none !important;
}
.mejs-controls .mejs-time-rail .mejs-time-float {
	background:#222222 !important;
	color:#FFFFFF !important;
	border-color:#222222 !important;
}
/* Format Quote */
.format-quote blockquote {
	text-transform:uppercase;
	font-size:22px;
}
/* Format Link */ 

.format-link .entry-header a {
	padding:20px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	display:block;
	-webkit-transition:0.3s all ease;
	-moz-transition:0.3s all ease;
	transition:0.3s all ease;
}
.format-link .entry-header a .entry-title,
.format-link .entry-header .entry-title a {
	color:#FFFFFF;
}
.format-link .entry-header a:hover {
	background:#222222 !important;
	color:#FFFFFF;
}
.format-link .entry-header .entry-title i {
	padding-right:5px;
}
/* #Blog Navigation
================================================== */

#ut-blog-navigation {
	margin:0;
	padding:10px 0;
	color:#222222;
	background:#F1F1F1;
}
#ut-blog-navigation a {
	color:#222222;
	font-size:60px;
	line-height:60px;
}
#ut-blog-navigation .nav-previous {
	float:left;
}
#ut-blog-navigation .nav-next {
	float:right;
}
/* #Comments
================================================== */

#comments {
	padding-top:50px;
	margin-top:30px;
	border-top:1px solid #EFEFEF;
}
.author-title, #reply-title, .comments-title {
	text-transform:uppercase;
	font-size:17px;
	margin-bottom:20px;
}
#reply-title {
	margin-bottom:10px;
}
.comment-body {
	background:#F1F1F1;
	overflow:hidden;
	padding:20px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	position:relative;
}
.ut-arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #F1F1F1;
	position:absolute;
	left:90px;
	top:40px;
}
.comment-list {
	margin-left:0;
	padding-bottom:30px;
	margin-bottom:50px;
	border-bottom:1px solid #EFEFEF;
}
.comment-list li.comment {
	position:relative;
}
.comment-list li article {
	margin-bottom:20px;
}
#comment-nav-above, #comment-nav-below {
	margin-bottom:50px;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:0.5px;
	padding-bottom:50px;
	border-bottom:1px solid #EFEFEF;
}
.comment-avatar {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.comment-avatar .avatar {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.bypostauthor {
	color:inherit;
}
.fn {
	font-size:inherit;
	color:#222222;
	font-style:inherit;
	font-weight:bold;
}
.fn a {
	color:#222222;
}
.comment-footer {
	font-size:11px;
	text-transform:uppercase;
	text-align:right;
}
.comment-footer .edit-link {
	margin-left:10px;
}
.comment-footer a {
	color:#222222;
}
.comment-metadata {
	font-size:11px;
	color:#888888;
	letter-spacing:0.5px;
	text-transform:uppercase;
}
.comment-metadata a {
	color:#888888;
}
.comment-header, .comment-metadata, .comment-footer {
}
.comment-header {
	margin-bottom:20px;
}
#commentform p.comment-form-author, #commentform p.comment-form-email {
	float: left;
	margin-right: 2%;
	width: 32%;
}
#commentform p.comment-form-url {
	float: left;
	width: 32%;
}
#commentform input#author, #commentform input#email, #commentform input#url {
	width:100%;
	display:block;
	margin-bottom:0;
}
#commentform textarea {
	width:100%;
	display:block;
	min-height:200px;
}
#commentform #submit {
	margin:0;
}
#searchform label, .comment-awaiting-moderation, #commentform label {
	color:#222222;
}
#searchform label, .comment-awaiting-moderation, #cancel-comment-reply-link, #commentform label {
	font-size:11px;
	letter-spacing:0.5px;
	text-transform:uppercase;
}
#cancel-comment-reply-link:hover {
	color:#222222;
}
.comment-edit-link:hover, .comment-reply-link:hover {
	color:#888888;
}
.pingback {
	margin-bottom:20px;
}

/* #Sidebar & Widgets
================================================== */

#secondary {
	padding-top:160px;
	font-size:12px;
	color:#888888;
	margin-bottom:80px;
}
#secondary ul.sidebar {
	padding-left:25px;
}
.blog #secondary {
	padding-top:80px;
}
.page-template-templatestemplate-archive-php a, #secondary a {
	color:#222222;
}
ul.sidebar, .widget-container ul {
	margin:0;
	padding:0;
	list-style:none;
}
.widget-title {
	font-size:13px;
	color:#222222;
	text-transform:uppercase;
	margin-bottom:20px;
}
.widget-container {
	margin-bottom:30px;
}
.widget-container select, .widget-container ul {
	margin-bottom:20px;
}
.widget-container ul.sub-menu, .widget-container ul.children {
	margin:0;
}
.widget_tag_cloud {
	margin-bottom:45px;
}
.ut-archive-tags a, .widget_tag_cloud a {
	display:inline-block;
	font-size:10px !important;
	border:1px solid #888888;
	color:#888888 !important;
	padding:3px 6px;
	margin:0 2px 5px 0;
	text-transform:uppercase;
	-webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	transition:0.2s all linear;
	font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
}
.ut-archive-tags a:hover, .widget_tag_cloud a:hover {
	border-color:#222222;
	color:#222222 !important;
}
.widget_categories ul, .widget_pages ul, .widget_nav_menu ul, .widget_recent_entries ul, .widget_recent_comments ul, .widget_meta ul, .widget_archive ul {
	margin-bottom:15px;
}
.widget_categories li, .widget_pages li, .widget_nav_menu li, .widget_recent_entries li, .widget_recent_comments li, .widget_meta li, .widget_archive li {
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #EFEFEF;
	padding-left:10px;
	position:relative;
}
.widget_recent_comments li {
	padding-left:0;
}
.widget_categories li:before, .widget_pages li:before, .widget_nav_menu li:before, .widget_recent_entries li:before, .widget_meta li:before, .widget_archive li:before {
	font-family: 'FontAwesome';
	content: "\f105";
	font-weight: normal;
	font-style: normal;
	position:absolute;
	top:0;
	left:0;
	color:#222222;
}
.widget_pages li.page_item_has_children, .widget_nav_menu li.menu-item-has-children {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom:0;
}
.widget_pages li.page_item_has_children .children, .widget_nav_menu li.menu-item-has-children .sub-menu {
	margin:0;
}
.widget_pages li.page_item_has_children .children li:first-child, .widget_nav_menu li.menu-item-has-children .sub-menu li:first-child {
	padding-top:5px;
	margin-top:5px;
	border-top:1px solid #EFEFEF;
}
.widget_pages li.page_item_has_children .children li:first-child:before, .widget_nav_menu li.menu-item-has-children .sub-menu li:first-child:before {
	top:5px;
}
.ut-flickr-item {
	width:75px;
	height:75px;
	background:url("../images/loaders/ajax-loader.gif");
	background-repeat:no-repeat;
	background-position:center center;
}
.ut-flickr-item.loaded {
	background:none;
}
.ut_widget_flickr .flickr_items {
	margin-bottom:15px;
}
.ut_widget_flickr li {
	float:left;
	margin:0 5px 5px 0;
}
.ut_widget_flickr li img {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	opacity:1;
	-webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	transition:0.2s all linear;
}
.ut_widget_flickr li img:hover {
	opacity:0.5;
}
.widget_rss .rsswidget img {
	vertical-align:middle;
}
.widget_rss li {
	margin-bottom:10px;
}
.widget_rss .rss-date {
	display:block;
}
.tweet-left {
	display:none;
}
.tweet_list li {
	padding-left:20px;
	position:relative;
}
.tweet_list li:before {
	font-family: 'FontAwesome';
	content: "\f099";
	font-weight: normal;
	font-style: normal;
	position:absolute;
	top:0;
	left:0;
	color:#222222;
}

/* #Default Pages
================================================== */

.page-header .entry-meta {
	text-align:center;
}

/* #Archive Template
================================================== */

.ut-archive-tags {
	margin-bottom:45px;
}
.ut-daily-archive-list, .ut-monthly-archive-list, .ut-monthly-archive-list, .ut-yearly-archive-list, .ut-contributors-archive-list, .ut-categories-archive-list, .ut-latest-posts-list {
	list-style:none;
	margin:0 0 20px 0;
}
.ut-daily-archive-list li, .ut-monthly-archive-list li, .ut-monthly-archive-list li, .ut-yearly-archive-list li, .ut-contributors-archive-list li, .ut-categories-archive-list li, .ut-latest-posts-list li {
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #EFEFEF;
	padding-left:10px;
	position:relative;
	list-style:none;
}
.ut-daily-archive-list li:before, .ut-monthly-archive-list li:before, .ut-monthly-archive-list li:before, .ut-yearly-archive-list li:before, .ut-contributors-archive-list li:before, .ut-categories-archive-list li:before, .ut-latest-posts-list li:before {
	font-family: 'FontAwesome';
	content: "\f105";
	font-weight: normal;
	font-style: normal;
	position:absolute;
	top:0;
	left:0;
}
.ut-archive-template-title {
	text-transform:uppercase;
	font-size:17px;
}

/* #Contact Section
================================================== */

.wpcf7-not-valid-tip, .post-password-form label, .wpcf7-form {
	font-size:11px !important;
	text-transform:uppercase;
}
#contact-section .background-map {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:0;
}
#contact-section ul {
	text-transform:uppercase;
	font-size:11px;
}
.light .ut-left-footer-area,
.light .ut-right-footer-area {
	padding:30px 30px 10px 30px;
	background:rgba(255, 255, 255, 0.15);
}
.ut-left-footer-area {
	margin-bottom:0;
}
.contact-section.contact-map {
	position:relative;
}
.contact-section .wpcf7-form p, .contact-section .wpcf7-form .wpcf7-response-output {
	margin:0 !important;
}
.light#contact-section a:hover {
	color:#FFFFFF;
}
.contact-section .wpcf7-form .ajax-loader {
	display:none;
}
.dark .wpcf7-form {
	color:#222222;
}
.wpcf7-not-valid-tip {
	background:#222222 !important;
	color:#FFF !important;
	border:none !important;
	padding-left:10px !important;
}
.fa-ul li .fa {
	line-height:inherit;
}
.fa-ul, .fa-ul li {
	list-style:none !important;
}

/* #Footer
================================================== */

.footer {
	padding: 30px 0;
	text-align:center;
	background:#FFFFFF;
	position:relative;
}
.footer.ut-footer-dark {
	background:#121212;
}
.footer.ut-footer-dark h1,
.footer.ut-footer-dark h2,
.footer.ut-footer-dark h3,
.footer.ut-footer-dark h4,
.footer.ut-footer-dark h5,
.footer.ut-footer-dark h6,
.footer.ut-footer-dark strong, 
.footer.ut-footer-dark b {
	color:#777777;
}
a.toTop {
	display: block;
	width: 40px;
	height: 40px;
	background: #FFFFFF;
	font-size: 28px;
	line-height: 38px;
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	margin: auto;
	color:#222222;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	-webkit-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateZ(0);
	-webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	transition:0.2s all linear;
}
.ut-footer-dark a.toTop {
	background:#121212;
	color:#FFFFFF;
}
.toTop:hover {
	-webkit-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
}
.toTop i {
	-webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	transition:0.2s all linear;
}
.footer h3 {
	text-transform:none;
	margin:0;
	position:relative;
}
.copyright {
	padding:0;
	margin:0;
	letter-spacing:0.5px;
	font-size:10px;
	color:#999999;
	display:block;
}
.footer-content a,
.copyright a {
	color:#222222;
	text-transform:uppercase;
}
.ut-footer-dark .footer-content a,
.ut-footer-dark .copyright a {
	color:#777777;
	text-transform:uppercase;
}

/* #Buttons
================================================== */

.light button, .light input[type="submit"], .light input[type="button"] {
	border: none;
	display: inline-block;
	text-align:center;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 20px;
	line-height: normal;
	color: #FFFFFF;
	padding:8px 12px;
	cursor:pointer;
	text-transform:uppercase;
	letter-spacing:0.5px;
	text-align:center;
	-webkit-transition:0.2s background linear;
	-moz-transition:0.2s background linear;
	transition:0.2s background linear;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-appearance: none;
	width:auto;
	font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
}
.light button:hover, .light input[type="submit"]:hover, .light input[type="button"]:hover, .light button:focus, .light input[type="submit"]:focus, .light input[type="button"]:focus {
	color: #FFFFFF;
	background: #111111;
	border:none;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}

/* #Forms
================================================== */

form {
	margin:0;
}
.light input, .light textarea {
	border: 1px solid transparent;
	padding: 10px;
	outline: none;
	color: #FFFFFF;
	margin: 0;
	width:100%;
	max-width:100%;
	display: block;
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
 	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
	margin-bottom: 20px;
	-webkit-transition:0.2s background linear;
	-moz-transition:0.2s background linear;
	transition:0.2s background linear;
	-webkit-transform: translateZ(0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background:rgb(0, 0, 0);
	background:rgba(0, 0, 0, 0.50);
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius: 0;
	-webkit-appearance: none;
}
.contact-section textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top; /* Improves readability and alignment in all browsers */
	resize: vertical;
}
.light input:focus, .light textarea:focus {
	border: 1px solid transparent;
	color: #FFFFFF;
	background:rgb(0, 0, 0);
	background:rgba(0, 0, 0, 0.85);
}
.success-message, .alert-message, .error-message {
	display:none;
	font-size:12px;
	letter-spacing:0.5px;
}
.widget_search .search-submit, .widget_search #searchform span {
	display:none;
}
select {
	width:100%;
	max-width:100%;
	color: #222222;
	padding:10px;
	border:none;
	outline:none;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius:0;
	-webkit-transform: translateZ(0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-transition:.2s border linear;
	-moz-transition:.2s border linear;
	transition:.2s border linear;
}
/* Global */
input[type="radio"], input[type="checkbox"] {
	display:inherit !important;
	width:inherit !important;	
}
input[type="checkbox"] {
	-webkit-appearance: checkbox!important;
}

.dark .wpcf7-form input, .dark .wpcf7-form textarea,
input, textarea {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	color: #b2b2b6;
	letter-spacing:0.5px;
	padding: 10px;
	outline: none;
	margin: 0;
	width:100%;
	max-width:100%;
	display: block;
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
 	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
	margin-bottom: 20px;
	-webkit-transition:0.2s border linear;
	-moz-transition:0.2s border linear;
	transition:0.2s border linear;
	-webkit-transform: translateZ(0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius: 0;
	-webkit-appearance: none;
}
#secondary input, #secondary textarea, #secondary select {
	font-size:12px;
}
input:focus, textarea:focus, select:focus, .dark .wpcf7-form input:focus, .dark .wpcf7-form textarea:focus, .dark .wpcf7-form select:focus {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
	box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
	border-color: #cfcfcf;
	background: #FFFFFF;
	color: #222222;
}
button, input[type="button"], input[type="submit"], .dark button, .dark input[type="button"], .dark input[type="submit"] {
	border: none;
	display: inline-block;
	text-align:center;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 20px;
	line-height: normal;
	color: #FFFFFF;
	padding:8px 12px;
	font-size:11px;
	cursor:pointer;
	text-transform:uppercase;
	letter-spacing:0.5px;
	text-align:center;
	-webkit-transition:0.2s background linear;
	-moz-transition:0.2s background linear;
	transition:0.2s background linear;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-appearance: none;
	width:auto;
	font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
}
button:hover, input[type="submit"]:hover, input[type="button"]:hover, button:focus, input[type="submit"]:focus, input[type="button"]:focus, .dark button:hover, .dark input[type="submit"]:hover, .dark input[type="button"]:hover, .dark button:focus, .dark input[type="submit"]:focus, .dark input[type="button"]:focus {
	background:#222222;
	color:#FFFFFF;
	border:none;
}

/* #Split Screen Section
================================================== */
.ut-split-screen-poster {
	background-position:center center !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-attachment:scroll !important;
}
.ut-split-screen .parallax-header, 
.ut-split-screen .section-header {
	text-align:left;	
}
.ut-split-content-right,
.ut-split-content-left {
	padding:140px 0 120px 0;
}
.ut-split-screen .pt-style-6 .page-title:after, 
.ut-split-screen .pt-style-6 .parallax-title:after, 
.ut-split-screen .pt-style-6 .section-title:after,
.ut-split-screen .pt-style-2 .page-title:after, 
.ut-split-screen .pt-style-2 .parallax-title:after, 
.ut-split-screen .pt-style-2 .section-title:after {
	margin:15px 0;	
}
.ut-split-screen .pt-style-1 .page-title span, 
.ut-split-screent .pt-style-1 .section-title span {
	padding:0 20px 0 0;
}

/* #Misc
================================================== */

.add-padding {
	padding-right:20px !important;
	padding-left:20px !important;
}
.remove-bottom {
	margin-bottom: 0 !important;
}
.half-bottom {
	margin-bottom: 10px !important;
}
.add-bottom {
	margin-bottom: 20px !important;
}
.ut-half-height {
	height:50% !important;
}
.section-content {
	position:relative;
}
.dark blockquote {
	color:#222222;
}
.dark cite, .dark, .dark p.lead {
	color:#888888;
}
.dark p.lead {
	font-size:18px;
}
.dark b, .dark strong {
	color:#222222;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
	color:#222222;
}
.light cite, .light blockquote, .light, .light p.lead {
	color:#FFFFFF;
}
.light p.lead {
	font-size:18px;
}
.light b, .light strong {
	color:#FFFFFF;
}
.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
	color:#FFFFFF;
}
.ut-rounded {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.ut-circle {
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
span.ut-word-rotator {
	color:inherit !important;
}
div.pp_default .pp_content .ppt {
	font-size:13px;
	color:#222222 !important;
}
.error404 .search-submit, .search-no-results .search-submit {
	margin-bottom:0;
}
#qLpercentage {
	font-size:12px !important;
	text-transform:uppercase;
	font-family: 'ralewaysemibold';
}
.playerBox {
	max-width:inherit !important;
}
#wrapper_mbYTP_bgndVideo,
.mbYTP_wrapper  {
	z-index:-1 !important;
}
.ut-video-control,
.ut-audio-control {
  bottom: 20px;
  position: absolute;
  text-indent:-9999px;
  width:25px;
  height:25px;
  left: 50%;
  margin-left:-12px;
  display:block;
}
.ut-mute {
	background-attachment: scroll;
	background-image: url('images/ut-unmute.png');
	background-repeat: no-repeat;
	background-position: center center;	
}
.ut-unmute {
	background-attachment: scroll;
	background-image: url('images/ut-mute.png');
	background-repeat: no-repeat;
	background-position: center center;	
}
#ut-loader-logo {
	width:400px;
	height:300px;
	display:block;
	position: absolute;
	fontSize: 3em;
	top: 50%;
	left: 50%;
	margin-left: -200px !important;
	overflow:hidden;
}
.ut-loader-overlay {
	position:fixed;
	height:100%;
	width:100%;
	z-index:2501;
	top:0;
	left:0;
}
#wpstats {
	display:none;
}
/* message div for theme activation */
.ut-install-note {
	margin-top:40px;
	margin-bottom:40px;
}
/* fit text fix for slider */
.js .slides .hero-holder {
	opacity:0;
}
.js .slides .hero-holder.show {
	opacity:1;
}
/* team member popup */
.ut-modal-box {
	margin-left:-25%; /* center box */
}
/* hidden avatar fix for chrome */
.ut-rotate-avatar {
	min-height:200px;
}
/* mobile menu scroll */
#ut-mobile-nav {
	overflow:hidden;
	position:relative;
	left:-10px;
	display: none;
}
.ut-scroll-pane {
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}
/* background color for video backgrounds */
.main-content-background {
	background:#FFFFFF;
}
.home:not(.blog) .main-content-background {
	background: transparent !important;
}

/* Revolution Slider */

.tp-bullets.simplebullets.round .bullet {
	background:none !important;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	width:14px;
	height:14px;
	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255, 0.15);	
}
.tp-bullets.simplebullets.round .selected {
	border-color:#FFFFFF !important;	
}
.themecolor-bg {
	padding:3px 5px;
	color:#FFFFFF;
}
.tp-rightarrow.default,
.tp-leftarrow.default {
	background: none !important;
}
.tp-rightarrow.default:hover:before,
.tp-leftarrow.default:hover:before {
	color:#FFFFFF;
	-webkit-transition:0.2s color linear;
	-moz-transition:0.2s color linear;
	transition:0.2s color linear;
}
.tp-rightarrow.default:before {
	content: "\f105";
	font-family: 'FontAwesome';
	font-size:65px;
	color:rgb(255,255,255);
	color:rgba(255,255,255, 0.15);	
}
.tp-leftarrow.default:before {
	content: "\f104";
	font-family: 'FontAwesome';
	font-size:65px;
	color:rgb(255,255,255);
	color:rgba(255,255,255, 0.15);	
}

/*----------*/
.ut-section-shadow {
	-webkit-box-shadow:0 -5px 4px rgba(0, 0, 0, 0.08) inset;
	-moz-box-shadow:0 -5px 4px rgba(0, 0, 0, 0.08) inset;
	box-shadow:0 -5px 4px rgba(0, 0, 0, 0.08) inset;
}

/* #Media Queries
================================================== */

/* Phone & Small Tablets */
@media screen and (max-width: 767px) {
	
.parallax-section {
	background-position:center center !important;
	background-repeat:repeat-y !important;
	/*background-attachment:fixed !important;*/
	background-size:cover !important;
}
/* Hero */
.hero-inner h1,
.hero-title {
	font-size:2em;
}
.ut-hero-style-1 .hero-title {
	background:none;
	padding:0;
}
/* Header Styles */
.pt-style-1 .page-title, .pt-style-1 .section-title {
	background:none;
}
.pt-style-1 .page-title span, .pt-style-1 .section-title span {
	padding:0;
}
.portfolio-title {
	font-size:12px !important;
}
#primary {
	padding-bottom:30px !important;
}
#secondary {
	padding-top:0 !important;
	margin-bottom:30px !important;
}
.sidebar {
	padding-left:0 !important;
}
a.ut-flex-control {
	top:0;
	margin-top:0 !important;
}
.ut-half-height {
	height:100% !important;	
}
.hero-inner {
	text-align:center !important;
}
.ut-split-content-left,
.ut-split-content-right {
	padding:80px 20px 60px 20px !important;
}

}

/* Tablet Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	
.parallax-section {
	background-position:center center !important;
	background-repeat:repeat-y !important;
	/*background-attachment:fixed !important;*/
	background-size:cover !important;
}
.hero-inner h1,
.hero-title {
	font-size:55px;
}
.portfolio-title {
	font-size:12px !important;
}
.ut-tablet-overlay {
	padding:50px 50px 50px;
}
.ut-left-tablet-button {
	margin-right:0;
}

}

/* #Grid
================================================== */

@media screen and (max-width: 400px) {
 @-ms-viewport {
 width: 320px;
}
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.grid-container:before, .clearfix:before, .grid-container:after, .clearfix:after {
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.grid-container:after, .clearfix:after {
	clear: both;
}
.grid-container, .clearfix {
  /* <IE7> */
  *zoom: 1;
/* </IE7> */
}
.grid-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 10px;
	padding-right: 10px;
}
.grid-5, .mobile-grid-5, .grid-10, .mobile-grid-10, .grid-15, .mobile-grid-15, .grid-20, .mobile-grid-20, .grid-25, .mobile-grid-25, .grid-30, .mobile-grid-30, .grid-35, .mobile-grid-35, .grid-40, .mobile-grid-40, .grid-45, .mobile-grid-45, .grid-50, .mobile-grid-50, .grid-55, .mobile-grid-55, .grid-60, .mobile-grid-60, .grid-65, .mobile-grid-65, .grid-70, .mobile-grid-70, .grid-75, .mobile-grid-75, .grid-80, .mobile-grid-80, .grid-85, .mobile-grid-85, .grid-90, .mobile-grid-90, .grid-95, .mobile-grid-95, .grid-100, .mobile-grid-100, .grid-33, .mobile-grid-33, .grid-66, .mobile-grid-66 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
  /* <IE7> */
  *padding-left: 0;
 *padding-right: 0;
/* </IE7> */
}
.grid-5 > *, .mobile-grid-5 > *, .grid-10 > *, .mobile-grid-10 > *, .grid-15 > *, .mobile-grid-15 > *, .grid-20 > *, .mobile-grid-20 > *, .grid-25 > *, .mobile-grid-25 > *, .grid-30 > *, .mobile-grid-30 > *, .grid-35 > *, .mobile-grid-35 > *, .grid-40 > *, .mobile-grid-40 > *, .grid-45 > *, .mobile-grid-45 > *, .grid-50 > *, .mobile-grid-50 > *, .grid-55 > *, .mobile-grid-55 > *, .grid-60 > *, .mobile-grid-60 > *, .grid-65 > *, .mobile-grid-65 > *, .grid-70 > *, .mobile-grid-70 > *, .grid-75 > *, .mobile-grid-75 > *, .grid-80 > *, .mobile-grid-80 > *, .grid-85 > *, .mobile-grid-85 > *, .grid-90 > *, .mobile-grid-90 > *, .grid-95 > *, .mobile-grid-95 > *, .grid-100 > *, .mobile-grid-100 > *, .grid-33 > *, .mobile-grid-33 > *, .grid-66 > *, .mobile-grid-66 > * {
  /* <IE7> */
  *margin-left: expression((!this.className.match(/grid-[1-9]/) && this.currentStyle.display === "block" && this.currentStyle.width === "auto") && "10px");
 *margin-right: expression((!this.className.match(/grid-[1-9]/) && this.currentStyle.display === "block" && this.currentStyle.width === "auto") && "10px");
/* </IE7> */
}
.grid-parent {
	padding-left: 0;
	padding-right: 0;
}


/* #WPML
================================================== */

.menu-item-language img.iclflag {
	margin-right:5px;
	vertical-align:middle !important;
}

/* #Rain
================================================== */
.hero canvas {
	z-index:-1;
}

#ut-rain-background {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -2;
  overflow: hidden;
  max-width: none !important;
  visibility:hidden;
}

.hero-audio-holder {
	display:none;
	visibility:hidden;
}